[data-theme="dark"] {
  background-color: #121212 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #121212 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #121212 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .nav-link {
  color: #eee !important;
}

[data-theme="dark"] .nav-link.active {
  color: #B8B8B8 !important;
}

[data-theme="dark"] .nav-link:focus {
  color: #B8B8B8!important;
}

[data-theme="dark"] .nav-link:hover {
  color: #B8B8B8!important;
}

[data-theme="dark"] .navigation-clean {
  color: #eee !important;
}

[data-theme="dark"] .social {
  color: #eee !important;
}

[data-theme="dark"] .navbar-toggler {
  color: #eee !important;
}

[data-theme="dark"] .navbar-toggler-icon {
  color: #eee !important;
}

[data-theme="dark"] .sr-only {
  color: #eee !important;
}

